.main {
  display: flex;
  background-color: $main-bg;
  position: relative;
}

.main__content-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

@media(min-width: $tablet-width) {
  .main__content-wrapper {
    margin: 0 auto;
  }
}

@media(min-width: $desktop-width) {
  .main__content-wrapper {
    width: 1020px;
  }
}

.main__header {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 25px 15px 0;
}

@media (min-width: $tablet-width) {
  .main__header {
    width: 100%;
    margin-bottom: 32px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .main__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 42px 30px 0;
  }
}


.main__title {
  margin: 0;

  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}



