
@media (min-width: $desktop-width) {
  .navigation {
    display: flex;
  }
}

.navigation__site-list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .navigation__site-list {
    margin-top: 30px;
  }
}
