.services__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto 24px;
  padding: 0 15px;
}

@media (min-width: $tablet-width) {
  .services__wrapper {
    width: 100%;
    padding: 0 25px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .services__wrapper {
    width: 1046px;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 19px;
  }
}
