.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.site-list__link {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  color: #1b1c21;

  &--active {
    color:#7e7e82;
  }

  &--active::before {
    content: "";
    position: absolute;
    top: 7%;
    left: -11%;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--active::before {
    left: -19%;
  }
}
