@media(min-width: 768px) {
  .swiper-container {
    display: none;
  }
}
.swiper-container--brand {
  padding-bottom: 50px;
  box-sizing: border-box;
}

.swiper-slide--brand {
  min-height: 72px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.swiper-slide__link--brand {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5%;
  box-sizing: border-box;
  width: 100%;
  height: 72px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -19px;
    right: 10px;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ff3e79;
  }

  &::after {
    position: absolute;
    content: "";
    top: 32px;
    right: 27px;
    width: 7px;
    height: 7px;
    border: #ff3e79;
    border: 3px solid #ff3e79;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
}

.swiper-container--type {
  padding-bottom: 50px;
  box-sizing: border-box;
}

.swiper-slide--type {
  position: relative;
  box-sizing: border-box;
  min-height: 158px;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;


}

.swiper-slide__link--type {
  font: inherit;
  color: #1B1C21;
  text-decoration: none;

  &::before {
    position: absolute;
    content: "";
    top: 100px;
    right: 10px;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ff3e79;
  }

  &::after {
    position: absolute;
    content: "";
    top: 116px;
    right: 28px;
    width: 7px;
    height: 7px;
    border: #ff3e79;
    border: 3px solid #ff3e79;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
    transform: rotate(45deg);
  }


}


