/*.swiper-container {
  width: 100%;
  background-color: yellow;
  height: 154px;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 50% 50%;
  background-color: #ffffff;



  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

 /*&--lenovo {
    background-image:  url('../img/lenovo.svg');
  }

  &--samsung {
    background-image: url('../img/samsung.svg');
  }

  &--apple {
    background-image: url('../img/apple.svg');
  }

  &--viewsonic {
    background-image: url('../img/viewsonic.svg');
  }

  &--bosch {
    background-image: url('../img/bosch.svg');
  }

  &--hp {
    background-image: url('../img/hp.svg');
  }

  &--acer {
    background-image: url('../img/acer.svg');
  }

  &--sony {
    background-image: url('../img/sony.svg');
  }
}*/


