@font-face {
  font-weight: normal;
  font-family: "TT Lakes";
  font-style: normal;
  src: url("./fonts/TTLakes-Regular.woff") format("woff"), url("./fonts/TTLakes-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "TT Lakes";
  font-style: normal;
  src: url("./fonts/TTLakes-Bold.woff") format("woff"), url("./fonts/TTLakes-Bold.woff2") format("woff2");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "TT Lakes", "Arial", sans-serif;
  color: #1b1c21;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.button__icon:hover {
  opacity: 0.8;
}

.button__icon:focus {
  opacity: 0.5;
}


.site-menu {
  display: none;
}

.site-menu--open {
  position: relative;
  width: 290px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
}

.site-menu__logo {
  position: absolute;
  top: 10px;
  left: 70px;
}

.site-menu__top-wrapper {
  display: flex;
  width: 290px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.site-menu__navigation {
  margin-bottom: 20px;
}

.navigation__site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  color: #1b1c21;
}

.site-menu__contact-list {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
}

.site-menu__contact-item {
  margin-right: 15px;
}

.site-menu__bottom-wrapper {
  margin-top: auto;
}

.site-menu__email {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.site-menu__phone {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.site-menu__toggle-lang-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-menu__toggle-lang {
  margin: 0;
  margin-right: 7px;
  padding: 0;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}


.site-menu__toggle-lang--active {
  color: #7e7e82;
}


